.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
    margin-left: auto;
}

.filters button:hover {
    opacity: 50%;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    margin-left: 50px;
    cursor: pointer;
    position: relative;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: 0px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

.filters .popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;
    position: absolute;
    top: 56px;
    width: 100%;
    padding-left: 49px;
    left: -50px;
}

.filters h2 {
    margin: 0px;
    font-size: 16px;
    margin-left: -13px;
}

.filters .locations li:nth-child(4) {
    margin-top: 20px;
}

.filters li {
    cursor: pointer;
    padding-left: 13px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}


@media all and (min-width: 480px) and (max-width: 768px) {
    .filters h3 {
        margin-top: 18px;
    }

    .filters h4 {
        margin-bottom: 0px;
    }

    .filters .amenities,
    .filters .locations {
        width: 30%;
        margin-left: 30px;
    }

    .filters .amenities .popover {
        left: -31px;

    }
}

@media all and (max-width: 480px) {
    .filters h3 {
        margin-top: 12px;
    }

    .filters h4 {
        font-size: 13px;
        margin-bottom: 0px;
    }

    .filters .amenities,
    .filters .locations {
        margin-left: 30px;
    }

    .filters .amenities .popover {
        left: -31px;

    }

}