.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 20px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.places article h2 {
    font-size: 30px;
    margin: 0px;
}

.places .price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.places .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.places .information .max_guest,
.places .information .number_rooms,
.places .information .number_bathrooms {
    width: 100px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.places .information .max_guest {
    background-image: url("../images/icon_group.png");
}

.places .information .number_rooms {
    background-image: url("../images/icon_bed.png");
}

.places .information .number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.places .description,
.places .user {
    text-align: left;
}

.places .user span {
    font-weight: bold;
}

.places .amenities,
.places .reviews {
    margin-top: 40px;
    text-align: left;
}

.places .amenities h2,
.places .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

.places ul {
    list-style-type: none;
    padding: 0px;
}

.places ul h3 {
    margin-bottom: 3px;
    font-size: 14px;
}

.places ul p {
    margin-top: 0px;
    font-size: 12px;
}

.places .amenities li {
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left center;
    padding-left: 40px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.places .amenities .tv {
    background-image: url("../images/icon_tv.png");
}

.places .amenities .wifi {
    background-image: url("../images/icon_wifi.png");
}

.places .amenities .pets {
    background-image: url("../images/icon_pets.png");
}


@media all and (min-width: 768px) and (max-width: 1024px) {
    .places article {
        width: 300px;
    }
}

@media all and (min-width: 700px) and (max-width: 768px) {
    .places article {
        width: 257px;
    }
    .places .price_by_night {
        min-width: 40px;
        height: 40px;
        font-size: 20px;
        right: 7px;
    }
}

@media all and (max-width: 480px) {
    .places .price_by_night {
        top: 13px;
    }
}